openapi: 3.1.0
info:
  title: Fin.com API
  version: 1.0.0
  description: A simple API specificationFo
servers:
  - url: https://sandbox.api.fin.com
    description: Sandbox server
  - url: https://api.fin.com
    description: Production server
tags:
  - name: Authentication
    description: A modified OAuth 2.0 Client Credential Flow
  - name: Customers
    description: Customer management and document upload operations
  - name: Balances
    description: Retrieve wallet balance information
  - name: Catalogue
    description: |
      A set of endpoints to retrieve contextual data to assemble requests
      to fin.com's API
  - name: Beneficiaries
    description: Manage beneficiary accounts for payments and transfers
  - name: Transactions
    description: Transaction history and management for beneficiaries
  - name: Virtual Accounts
    description: Create and manage virtual accounts for USD to USDC conversions
  - name: Fees & FX Rates
    description: Retrieve fees and foreign exchange rates
paths:
  /v1/oauth/token:
    post:
      summary: Issue a Token
      description: Generate an access token using client credentials
      x-mint:
        content: |
          Grab your `client_id` and `client_secret` from the
          [API Keys](https://orchestration.fin.com/api-keys) section
          of the [Orchestration Dashboard](https://orchestration.fin.com/)

          <Note>
            The TTLs returned from this API are actually the time
            that the the token will expire; i.e. not validity in number of seconds
            since creation.
          </Note>

          <Note>
            The timestamps, i.e. TTLs returned from this endpoint are NOT
            in ISO 8601 format. Rather it is in the format 
            `YYYY-MM-DD HH:MM:SS+00`
          </Note>
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - client_id
                - client_secret
              properties:
                client_id:
                  type: string
                  description: Client ID
                client_secret:
                  type: string
                  description: Client Secret
                  format: password
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/oauth/refresh-token:
    post:
      summary: Refresh a Token
      description: Generate a new token pair based on a refresh token.
      x-mint:
        content: >
          Exchanges a `refresh_token` received from the [Issue
          Token](/api-reference/authentication/issue-a-token) endpoint for a new

          pair of `access_token` and `refresh_token`


          <Note>
            The TTLs returned from this API are actually the time
            that the the token will expire; i.e. not validity in number of seconds
            since creation.
          </Note>


          <Note>
            The timestamps, i.e. TTLs returned from this endpoint are NOT
            in ISO 8601 format. Rather it is in the format 
            `YYYY-MM-DD HH:MM:SS+00`
          </Note>
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: >-
                    The refresh_token received from the [Issue a
                    token](https://developer.fin.com/api-reference/authentication/issue-a-token)
                    endpoint.
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v2/customers:
    get:
      summary: List Customers V2
      description: Retrieve a list of customers filtered by type
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          description: Filter customers by type
          required: true
          schema:
            type: string
            enum:
              - INDIVIDUAL
              - BUSINESS
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/CurrentPageParam'
      responses:
        '200':
          description: List of customers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          current_page:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 40
                          total_page:
                            type: integer
                            example: 1
                          total:
                            type: integer
                            example: 4
                      customers:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              title: Individual Customer
                              properties:
                                customer_id:
                                  type: string
                                  format: uuid
                                  example: 56c41b8e-e650-4f55-94f6-26a888a9b64d
                                type:
                                  type: string
                                  enum:
                                    - INDIVIDUAL
                                first_name:
                                  type: string
                                  example: John
                                last_name:
                                  type: string
                                  example: Doe
                                email:
                                  type: string
                                  format: email
                                  example: john.doe@example.com
                                phone:
                                  type: string
                                  example: '+14155551234'
                                country_of_residence:
                                  type: string
                                  example: USA
                                customer_status:
                                  type: string
                                  example: INCOMPLETE
                                tos_policies_url:
                                  type: string
                                  format: uri
                                  example: >-
                                    https://orchestration.fin.com/orchestration-customer-tos?customer_id=56c41b8e-e650-4f55-94f6-26a888a9b64d&tos_policies_value=e9414388-fbdf-4407-b5c2-bc39eae3645b
                                created_at:
                                  type: string
                                  format: date-time
                                  example: '2026-04-01T12:03:03Z'
                                updated_at:
                                  type: string
                                  format: date-time
                                  example: '2026-04-01T12:03:03Z'
                            - type: object
                              title: Business Customer
                              properties:
                                customer_id:
                                  type: string
                                  format: uuid
                                  example: ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06
                                type:
                                  type: string
                                  enum:
                                    - BUSINESS
                                business_name:
                                  type: string
                                  example: Fin.com
                                email:
                                  type: string
                                  format: email
                                  example: m@tech.com
                                phone:
                                  type: string
                                  example: '+8801529876543'
                                country_of_incorporation:
                                  type: string
                                  example: BGD
                                customer_status:
                                  type: string
                                  example: IN_COMPLIANCE
                                tos_policies_url:
                                  type: string
                                  format: uri
                                  example: >-
                                    https://orchestration.fin.com/orchestration-customer-tos?customer_id=ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06&tos_policies_value=6955e70b-f9f3-4076-b1ce-5c897085dd24
                                created_at:
                                  type: string
                                  format: date-time
                                  example: '2026-04-13T11:38:57Z'
                                updated_at:
                                  type: string
                                  format: date-time
                                  example: '2026-04-13T11:40:51Z'
              examples:
                OK:
                  summary: OK
                  value:
                    data:
                      pagination:
                        current_page: 1
                        per_page: 40
                        total_page: 1
                        total: 2
                      customers:
                        - customer_id: ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06
                          type: BUSINESS
                          business_name: Fin.com
                          email: m@tech.com
                          phone: '+8801529876543'
                          country_of_incorporation: BGD
                          customer_status: IN_COMPLIANCE
                          tos_policies_url: >-
                            https://orchestration.fin.com/orchestration-customer-tos?customer_id=ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06&tos_policies_value=6955e70b-f9f3-4076-b1ce-5c897085dd24
                          created_at: '2026-04-13T11:38:57Z'
                          updated_at: '2026-04-13T11:40:51Z'
                        - customer_id: 56c41b8e-e650-4f55-94f6-26a888a9b64d
                          type: INDIVIDUAL
                          first_name: John
                          last_name: Doe
                          email: john.doe@example.com
                          phone: '+14155551234'
                          country_of_residence: USA
                          customer_status: INCOMPLETE
                          tos_policies_url: >-
                            https://orchestration.fin.com/orchestration-customer-tos?customer_id=56c41b8e-e650-4f55-94f6-26a888a9b64d&tos_policies_value=e9414388-fbdf-4407-b5c2-bc39eae3645b
                          created_at: '2026-04-01T12:03:03Z'
                          updated_at: '2026-04-01T12:03:03Z'
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/customers:
    get:
      summary: List Customers
      description: Retrieve a list of customers filtered by type
      x-mint:
        content: |
          <Warning>
            This endpoint was deprecated on May 20, 2026. Use [List Customers V2](https://developer.fin.com/api-reference/customers/list-customers-v2) instead.
          </Warning>
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          description: Filter customers by type
          required: true
          schema:
            type: string
            enum:
              - INDIVIDUAL
              - BUSINESS
        - $ref: '#/components/parameters/PerPageParam'
        - $ref: '#/components/parameters/CurrentPageParam'
      responses:
        '200':
          description: List of customers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          current_page:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 10
                          total_page:
                            type: integer
                            example: 1
                          total:
                            type: integer
                            example: 2
                      customers:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              properties:
                                customer_id:
                                  type: string
                                  format: uuid
                                  example: 56c41b8e-e650-4f55-94f6-26a888a9b64d
                                type:
                                  type: string
                                  enum:
                                    - INDIVIDUAL
                                first_name:
                                  type: string
                                  example: John
                                last_name:
                                  type: string
                                  example: Doe
                                email:
                                  type: string
                                  format: email
                                  example: john.doe@example.com
                                phone:
                                  type: string
                                  example: '+14724480512'
                                country_of_residence:
                                  type: string
                                  example: USA
                                customer_status:
                                  type: string
                                  example: INCOMPLETE
                                tos_policies_url:
                                  type: string
                                  format: uri
                                created_at:
                                  type: string
                                  format: date-time
                                updated_at:
                                  type: string
                                  format: date-time
                            - type: object
                              properties:
                                customer_id:
                                  type: string
                                  format: uuid
                                  example: 94e6b847-4e19-49e3-b3ab-ffa95872eda9
                                type:
                                  type: string
                                  enum:
                                    - BUSINESS
                                business_name:
                                  type: string
                                  example: Acme Corp Ltd
                                email:
                                  type: string
                                  format: email
                                  example: contact@acmecorp.com
                                phone:
                                  type: string
                                  example: '+14155552671'
                                country_of_incorporation:
                                  type: string
                                  example: USA
                                customer_status:
                                  type: string
                                  example: INCOMPLETE
                                tos_policies_url:
                                  type: string
                                  format: uri
                                created_at:
                                  type: string
                                  format: date-time
                                updated_at:
                                  type: string
                                  format: date-time
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v2/customers/{customer_id}:
    get:
      summary: Get Customer Details V2
      description: Retrieve detailed information for a specific customer
      x-mint:
        content: |
          <Note>
            Use this endpoint to fetch business customer details. For individual customer details, use [Get Customer Details](https://developer.fin.com/api-reference/customers/get-customer-details).
          </Note>
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06
      responses:
        '200':
          description: Customer details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/IndividualCustomerDetailV2'
                      - $ref: '#/components/schemas/BusinessCustomerDetailV2'
              examples:
                Business:
                  summary: Business customer
                  value:
                    data:
                      customer_id: 671536f8-ddc5-4b1e-bd6f-27d0ed07a27c
                      type: BUSINESS
                      business_name: Fin.com
                      email: contact@fin.com
                      phone: '+14155552671'
                      country_of_incorporation: USA
                      verification_type: STANDARD
                      customer_status: ACTION_REQUIRED
                      tos_policies_url: >-
                        https://orchestration.fin.com/orchestration-customer-tos?customer_id=671536f8-ddc5-4b1e-bd6f-27d0ed07a27c&tos_policies_value=4e0e505a-36f0-4c9e-8eb1-3916410f227c
                      associated_parties:
                        - id: 2e719a54-cdef-43f9-a5ac-f6ef679ea1dc
                          type: INDIVIDUAL
                          ownership_percent: 60
                          email: jane.smith@acmecorp.com
                          verification:
                            status: REJECTED
                            reason:
                              for_customer: null
                              for_developer: null
                            updated_at: '2026-05-04T12:36:42Z'
                        - id: 4ef045ea-c7a7-46dc-84a0-9a3d83186971
                          type: INDIVIDUAL
                          ownership_percent: 40
                          email: robert.chen@acmecorp.com
                          verification:
                            status: APPROVED
                            reason:
                              for_customer: null
                              for_developer: null
                            updated_at: '2026-05-04T12:29:47Z'
                      created_at: '2026-05-04T12:11:27Z'
                      updated_at: '2026-05-04T12:34:03Z'
                      last_status_updated_at: '2026-05-04T12:32:34.47927Z'
                      rejection_reason:
                        applicant:
                          moderation_comment: ''
                          reject_labels:
                            - LOW_QUALITY
                            - UNFILLED_ID
                            - DOCUMENT_TEMPLATE
                            - NOT_DOCUMENT
                        documents:
                          - uri: /ZuyUaH3a_testdoc1.png
                            category: SUPPORTING_DOCUMENTS
                            moderation_comment: |-
                              This document is not accepted.
                               - The document should be of good quality.
                            reject_labels:
                              - LOW_QUALITY
                          - uri: /ZuyUaH3a_testdoc1.png
                            category: OWNERSHIP_DOCUMENTS
                            moderation_comment: |-
                              This document is not accepted.
                               - The document is not authentic
                            reject_labels:
                              - UNFILLED_ID
                          - uri: /ZuyUaH3a_testdoc1.png
                            category: OWNERSHIP_DOCUMENTS
                            moderation_comment: |-
                              This document is not accepted.
                               - The uploaded file appears to be a document template.
                            reject_labels:
                              - DOCUMENT_TEMPLATE
                          - uri: /ZuyUaH3a_testdoc1.png
                            category: SUPPORTING_DOCUMENTS
                            moderation_comment: |-
                              This document is not accepted.
                               - The file is not a document
                            reject_labels:
                              - NOT_DOCUMENT
                        associated_parties:
                          - id: 2e719a54-cdef-43f9-a5ac-f6ef679ea1dc
                            applicant:
                              moderation_comment: ''
                              reject_labels:
                                - EXPIRATION_DATE
                            documents:
                              - uri: /OUkUie0z_approved_passport_sumsub.jpg
                                category: PROOF_OF_IDENTITY
                                moderation_comment: >-
                                  Your identity document must be valid for at
                                  least 2 month(s) from the date of submission.
                                reject_labels:
                                  - EXPIRATION_DATE
                      request_for_information:
                        - scope: ASSOCIATED_PARTY
                          associated_party_id: 2e719a54-cdef-43f9-a5ac-f6ef679ea1dc
                          section: identifying_documents
                          categories:
                            - document_type: PASSPORT
                              fields:
                                - field_name: type
                                  data_type: ENUM
                                  status: INVALID
                                  options: []
                                - field_name: expiry_date
                                  data_type: DATE
                                  status: INVALID
                                  options: []
                                - field_name: issue_date
                                  data_type: DATE
                                  status: INVALID
                                  options: []
                                - field_name: files
                                  data_type: URI
                                  status: INVALID
                                  reason: >-
                                    User identity document is not valid for at
                                    least 2 month(s) from the date of
                                    submission.
                                  options: []
                        - scope: CUSTOMER
                          section: formation_documents
                          categories:
                            - document_type: EVIDENCE_OF_DIRECTORS_AND_CONTROLLERS
                              fields:
                                - field_name: type
                                  data_type: ENUM
                                  status: INVALID
                                  options: []
                                - field_name: files
                                  data_type: URI
                                  status: INVALID
                                  reason: Unacceptable document.
                                  options: []
                        - scope: CUSTOMER
                          section: supporting_documents
                          categories:
                            - document_type: PROOF_OF_SOURCE_OF_FUNDS
                              fields:
                                - field_name: type
                                  data_type: ENUM
                                  status: INVALID
                                  options: []
                                - field_name: files
                                  data_type: URI
                                  status: INVALID
                                  reason: Unacceptable document.
                                  options: []
                        - scope: CUSTOMER
                          section: ownership_documents
                          categories:
                            - document_type: PROOF_OF_SIGNATORY_AUTHORITY
                              fields:
                                - field_name: type
                                  data_type: ENUM
                                  status: INVALID
                                  options: []
                                - field_name: files
                                  data_type: URI
                                  status: INVALID
                                  reason: Document appears to be corrupted
                                  options: []
                Individual:
                  summary: Individual customer
                  value:
                    data:
                      customer_id: 1f45e58d-0420-4ad8-a790-413169bfab28
                      type: INDIVIDUAL
                      first_name: John
                      last_name: Doe
                      email: atkeyafahmida290@gmail.com
                      phone: '+8801748386269'
                      country_of_residence: BGD
                      verification_type: STANDARD
                      customer_status: ACTION_REQUIRED
                      tos_policies_url: >-
                        https://orchestration.fin.com/orchestration-customer-tos?customer_id=1f45e58d-0420-4ad8-a790-413169bfab28&tos_policies_value=ffefb0cd-4f0a-4585-ad1c-f4ea76ba41b8
                      created_at: '2026-05-04T12:40:03Z'
                      updated_at: '2026-05-04T12:47:50Z'
                      last_status_updated_at: '2026-05-04T12:44:42.707598Z'
                      rejection_reason:
                        applicant:
                          moderation_comment: ''
                          reject_labels:
                            - EXPIRATION_DATE
                            - PROBLEMATIC_APPLICANT_DATA
                        documents:
                          - uri: /SuElNZpi_approved_passport_sumsub.jpg
                            category: PROOF_OF_IDENTITY
                            moderation_comment: >-
                              Your identity document has expired and can't be
                              used for verification. Please upload a different
                              identity document.
                            reject_labels:
                              - EXPIRATION_DATE
                      request_for_information:
                        - scope: CUSTOMER
                          section: proof_of_identity
                          categories:
                            - document_type: PASSPORT
                              fields:
                                - field_name: type
                                  data_type: ENUM
                                  status: INVALID
                                  options: []
                                - field_name: expiry_date
                                  data_type: DATE
                                  status: INVALID
                                  options: []
                                - field_name: issue_date
                                  data_type: DATE
                                  status: INVALID
                                  options: []
                                - field_name: files
                                  data_type: URI
                                  status: INVALID
                                  reason: >-
                                    Expired Identity document. A new document
                                    has been requested.
                                  options: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/customers/{customer_id}:
    get:
      summary: Get Customer Details
      description: Retrieve detailed information for a specific customer
      x-mint:
        content: |
          <Note>
            Use this endpoint to fetch individual customer details. For business customer details, use [Get Customer Details V2](https://developer.fin.com/api-reference/customers/get-customer-details-v2).
          </Note>
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: 55bd6b4e-c20a-4cc8-9535-91d5557a67d9
      responses:
        '200':
          description: Customer details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/IndividualCustomerDetail'
                      - $ref: '#/components/schemas/BusinessCustomerDetail'
              examples:
                Individual Customer:
                  summary: Individual Customer
                  value:
                    data:
                      customer_id: 56c41b8e-e650-4f55-94f6-26a888a9b64d
                      type: INDIVIDUAL
                      first_name: John
                      last_name: Doe
                      email: john.doe@fin.com
                      phone: '+14724480512'
                      country_of_residence: USA
                      verification_type: STANDARD
                      customer_status: ON_HOLD
                      tos_policies_url: >-
                        https://orchestration.fin.com/orchestration-customer-tos?customer_id=56c41b8e-e650-4f55-94f6-26a888a9b64d&tos_policies_value=e9414388-fbdf-4407-b5c2-bc39eae3645b
                      created_at: '2026-04-15T11:49:27Z'
                      updated_at: '2026-04-15T11:52:48Z'
                      last_status_updated_at: '2026-04-15T11:52:48Z'
                      capabilities:
                        on_ramp:
                          - currency: USD
                            status: false
                            methods:
                              - ACH
                              - FEDWIRE
                            reason:
                              for_customer: null
                              for_developer: null
                        off_ramp:
                          - currency: USD
                            status: false
                            methods:
                              - ACH
                              - FEDWIRE
                              - ACH_SAME_DAY
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: EUR
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: BDT
                            status: false
                            methods:
                              - BANK
                              - E_WALLET
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: AUD
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: INR
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: JPY
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: NPR
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: CAD
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: PKR
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: PHP
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: SGD
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                          - currency: GBP
                            status: false
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: Customer is under review
                      rejection_reason: null
                      request_for_information: []
                Business Customer:
                  summary: Business Customer
                  value:
                    data:
                      customer_id: 94e6b847-4e19-49e3-b3ab-ffa95872eda9
                      type: BUSINESS
                      business_name: Fin.com
                      email: contact@fin.com
                      phone: '+6591234567'
                      country_of_incorporation: SGP
                      verification_type: STANDARD
                      customer_status: APPROVED
                      tos_policies_url: >-
                        https://orchestration.fin.com/orchestration-customer-tos?customer_id=94e6b847-4e19-49e3-b3ab-ffa95872eda9&tos_policies_value=6955e70b-f9f3-4076-b1ce-5c897085dd24
                      associated_parties:
                        - id: 42daffd3-09a0-4d48-8e73-2680a953d0e1
                          type: INDIVIDUAL
                          ownership_percent: 10
                          email: john.doe@fin.com
                          verification:
                            status: APPROVED
                            reason:
                              for_customer: null
                              for_developer: null
                            updated_at: '2026-04-15T11:29:08Z'
                      created_at: '2026-04-15T11:26:12Z'
                      updated_at: '2026-04-15T11:31:18Z'
                      last_status_updated_at: '2026-04-15T11:29:09Z'
                      capabilities:
                        on_ramp:
                          - currency: USD
                            status: false
                            methods:
                              - ACH
                              - FEDWIRE
                            reason:
                              for_customer: null
                              for_developer: null
                        off_ramp:
                          - currency: USD
                            status: false
                            methods:
                              - ACH
                              - FEDWIRE
                              - ACH_SAME_DAY
                            reason:
                              for_customer: null
                              for_developer: Unsupported at the moment
                          - currency: EUR
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: BDT
                            status: true
                            methods:
                              - BANK
                              - E_WALLET
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: AUD
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: INR
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: JPY
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: NPR
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: CAD
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: PKR
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: PHP
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: SGD
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                          - currency: GBP
                            status: true
                            methods:
                              - BANK
                            reason:
                              for_customer: null
                              for_developer: null
                      rejection_reason: null
                      request_for_information: []
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Customer not found
        '422':
          $ref: '#/components/responses/ValidationError'
    patch:
      summary: Update Customer
      description: >-
        Submit an RFI response for an individual or business customer. You must
        pass only the fields and documents specified in the RFI. Submitting data
        that was not requested will trigger an error.
      x-mint:
        content: |
          <Note>
            Only submit the fields explicitly listed in the RFI. Sending unrequested
            fields will result in an error.
          </Note>

          The request body accepts the same fields as the following endpoints:

          - Attach Documents to Individual Customer
          - Attach Documents to Business Customer
          - Attach Documents to Business Customer V2
          - Attach Document To Associated Party
          - Attach Document To Associated Party V2
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the customer to update
          example: ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - title: Individual Customer
                  type: object
                  properties:
                    proof_of_identity:
                      type: object
                      properties:
                        type:
                          type: string
                          example: PASSPORT
                        number:
                          type: string
                          example: A12345678
                        country:
                          type: string
                          example: USA
                        issue_date:
                          type: string
                          format: date
                          example: '2020-01-15'
                        expiry_date:
                          type: string
                          format: date
                          example: '2030-01-15'
                        files:
                          type: array
                          items:
                            type: object
                            properties:
                              uri:
                                type: string
                                example: /AbAcQ4hn_0652746727637.pdf
                              side:
                                type: string
                                enum:
                                  - FRONT
                                  - BACK
                                example: FRONT
                    proof_of_address:
                      type: object
                      description: >-
                        The proof of address document must not be older than
                        three months.
                      properties:
                        type:
                          type: string
                          example: UTILITY_BILL
                        country:
                          type: string
                          example: USA
                        files:
                          type: array
                          items:
                            type: object
                            properties:
                              uri:
                                type: string
                                example: /AbAcQ4hn_0652746727638.pdf
                - title: Business Customer
                  type: object
                  properties:
                    ownership_documents:
                      type: array
                      description: >-
                        Ownership documents for the business customer (e.g.
                        shareholder registry, proof of signatory authority)
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            example: PROOF_OF_SIGNATORY_AUTHORITY
                          description:
                            type: string
                            example: Shareholder Registry
                          files:
                            type: array
                            items:
                              type: object
                              properties:
                                uri:
                                  type: string
                                  example: /AbAcQ4hn_0652746727639.pdf
                    formation_documents:
                      type: array
                      description: >-
                        Formation documents for the business customer (e.g.
                        certificate of incorporation, registration document)
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            example: REGISTRATION_DOCUMENT
                          description:
                            type: string
                            example: Certificate of Incorporation
                          files:
                            type: array
                            items:
                              type: object
                              properties:
                                uri:
                                  type: string
                                  example: /AbAcQ4hn_0652746727637.pdf
                    supporting_documents:
                      type: array
                      description: Supporting documents for the customer
                      items:
                        type: object
                        properties:
                          type:
                            type: string
                            example: PROOF_OF_SOURCE_OF_FUNDS
                          description:
                            type: string
                            example: Proof of source of funds doc
                          files:
                            type: array
                            items:
                              type: object
                              properties:
                                uri:
                                  type: string
                                  example: /PoAdef45_0652746727640.pdf
                    associated_party_attachments:
                      type: array
                      description: >-
                        Document attachments for associated parties of a
                        business customer
                      items:
                        type: object
                        properties:
                          associated_party_id:
                            type: string
                            format: uuid
                            description: ID of the associated party
                            example: f6b13e01-044a-4f74-a70b-d5f66b6449af
                          identifying_documents:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - PASSPORT
                                    - NATIONAL_ID
                                    - DRIVERS_LICENSE
                                    - RESIDENCE_PERMIT
                                number:
                                  type: string
                                country:
                                  type: string
                                issue_date:
                                  type: string
                                  format: date
                                expiry_date:
                                  type: string
                                  format: date
                                files:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      side:
                                        type: string
                                        enum:
                                          - FRONT
                                          - BACK
                                      uri:
                                        type: string
                          address_documents:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                files:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      uri:
                                        type: string
                          supporting_documents:
                            type: array
                            items:
                              type: object
            examples:
              Business Customer:
                value:
                  ownership_documents:
                    - type: PROOF_OF_SIGNATORY_AUTHORITY
                      description: Shareholder Registry
                      files:
                        - uri: /AbAcQ4hn_0652746727639.pdf
                  formation_documents:
                    - type: REGISTRATION_DOCUMENT
                      description: Certificate of Incorporation
                      files:
                        - uri: /AbAcQ4hn_0652746727637.pdf
                  supporting_documents:
                    - type: PROOF_OF_SOURCE_OF_FUNDS
                      description: Proof of source of funds doc
                      files:
                        - uri: /PoAdef45_0652746727640.pdf
                  associated_party_attachments:
                    - associated_party_id: f6b13e01-044a-4f74-a70b-d5f66b6449af
                      identifying_documents:
                        - type: PASSPORT
                          number: A12345678
                          country: USA
                          issue_date: '2020-01-15'
                          expiry_date: '2030-01-15'
                          files:
                            - uri: /AbAcQ4hn_0652746727637.pdf
                        - type: DRIVERS_LICENSE
                          number: DL987654321
                          country: USA
                          issue_date: '2019-06-01'
                          expiry_date: '2029-06-01'
                          files:
                            - side: FRONT
                              uri: /AbAcQ4hn_0652746727645.pdf
                            - side: BACK
                              uri: /AbAcQ4hn_0652746727646.pdf
                      address_documents:
                        - type: BANK_STATEMENT
                          files:
                            - uri: /AbAcQ4hn_0652746727638.pdf
                      supporting_documents: []
                    - associated_party_id: f71dc19f-b9a0-49fb-bd2d-5add3c01626e
                      identifying_documents:
                        - type: NATIONAL_ID
                          number: NID-987654
                          country: USA
                          issue_date: '2021-03-10'
                          expiry_date: '2031-03-10'
                          files:
                            - side: FRONT
                              uri: /XyZ123mn_0652746727650.pdf
                            - side: BACK
                              uri: /XyZ123mn_0652746727651.pdf
                      address_documents:
                        - type: UTILITY_BILL
                          files:
                            - uri: /XyZ123mn_0652746727652.pdf
              Individual Customer:
                value:
                  proof_of_identity:
                    type: PASSPORT
                    number: A12345678
                    country: USA
                    issue_date: '2020-01-15'
                    expiry_date: '2030-01-15'
                    files:
                      - uri: /AbAcQ4hn_0652746727637.pdf
                        side: FRONT
                  proof_of_address:
                    type: UTILITY_BILL
                    country: USA
                    files:
                      - uri: /AbAcQ4hn_0652746727638.pdf
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customer_id:
                        type: string
                        format: uuid
                        example: ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06
              example:
                data:
                  customer_id: ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Validation failed
                  data:
                    type: object
                    additionalProperties:
                      type: string
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v2/customers/{customer_id}/wallets:
    post:
      summary: Create Customer Wallets
      description: >-
        Provisions one or more crypto wallets for a customer across supported
        chains and tokens.
      x-mint:
        content: |
          <Note>
            Fin.com issued crypto wallets require pre-configuration. Contact support to learn more.
          </Note>

          Wallets start with a status of `PENDING`. They move to `ACTIVE` (or
          `INACTIVE`) asynchronously once the wallet address has been issued,
          so creation is not synchronous. Poll [Get Customer
          Wallets](/api-reference/crypto-orchestration/get-customer-wallets)
          to check on status.

          Supported rails and currencies:

          | Rail     | Currency |
          | -------- | -------- |
          | POLYGON  | USDC     |
          | ETHEREUM | USDC     |
          | SOLANA   | USDC     |

          If any requested wallet (same `rail` + `currency` pair) already
          exists for the customer, the request fails with a `409` and lists
          the colliding pairs; none of the requested wallets are created.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
          example: 765d498e-a267-4154-9d2f-9e411a0b50dd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - wallets
              properties:
                wallets:
                  type: array
                  minItems: 1
                  description: Wallets to provision, one entry per rail.
                  items:
                    type: object
                    required:
                      - rail
                      - currency
                    properties:
                      rail:
                        type: string
                        description: Blockchain network to provision the wallet(s) on.
                        example: SOLANA
                      currency:
                        type: array
                        minItems: 1
                        description: Token(s) to provision a wallet for on this rail.
                        items:
                          type: string
                        example:
                          - USDC
            example:
              wallets:
                - rail: SOLANA
                  currency:
                    - USDC
                - rail: ETHEREUM
                  currency:
                    - USDC
      responses:
        '200':
          description: >-
            Wallet creation request accepted for processing. Note the nested
            `data`: the outer envelope wraps a `message` plus the inner `data`
            array of wallets being provisioned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Request is being processed
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CustomerWallet'
              example:
                data:
                  message: Request is being processed
                  data:
                    - id: b1e2c3d4-4d5e-6f70-8a90-1b2c3d4e5f60
                      rail: SOLANA
                      currency: USDC
                      status: PENDING
                    - id: d3a4e5f6-4d5e-6f70-8a90-1b2c3d4e5f62
                      rail: ETHEREUM
                      currency: USDC
                      status: PENDING
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '409':
          description: >-
            One or more of the requested wallets already exist for this
            customer.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: one or more wallets already exist for this customer
                  collisions:
                    type: array
                    items:
                      type: object
                      properties:
                        rail:
                          type: string
                          example: SOLANA
                        currency:
                          type: string
                          example: USDC
              example:
                message: one or more wallets already exist for this customer
                collisions:
                  - rail: SOLANA
                    currency: USDC
        '422':
          $ref: '#/components/responses/ValidationError'
    get:
      summary: Get Customer Wallets
      description: >-
        Returns all crypto wallets linked to a customer across supported chains
        and tokens.
      x-mint:
        content: >
          <Note>
            Fin.com issued crypto wallets require pre-configuration. Contact support to learn more.
          </Note>


          Upon approval, the customer is provisioned wallet addresses for the
          following rails and currencies:


          | Rail     | Currency |

          | -------- | -------- |

          | POLYGON  | USDC     |

          | ETHEREUM | USDC     |

          | SOLANA   | USDC     |


          `address` is `null` until the wallet finishes provisioning (see

          `status` on [Create Customer
          Wallets](/api-reference/crypto-orchestration/create-customer-wallets)).
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
          example: 765d498e-a267-4154-9d2f-9e411a0b50dd
      responses:
        '200':
          description: Customer wallets retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerWallet'
              example:
                data:
                  - id: 27dbc0f2-e5ae-444b-b4ab-0764252aedf6
                    status: ACTIVE
                    currency: USDC
                    rail: ETHEREUM
                    address: '0xc42a5f7083c7e8f1d9820c7660867277289cd998'
                    balance: 10.000001
                  - id: e1dcce59-0309-43de-ab6c-a0bd3497b9c3
                    status: ACTIVE
                    currency: USDC
                    rail: SOLANA
                    address: BCSZEokfpVsSpUuuZJMScLiUpYjvvUmrrAJkNbrTTnng
                    balance: 25.000001
                  - id: c92dfe1d-220e-4446-a5e4-cd7d46031ba5
                    status: PENDING
                    currency: USDC
                    rail: POLYGON
                    address: null
                    balance: 0
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /v2/customers/{customer_id}/capabilities:
    get:
      summary: Get Customer Capabilities
      description: >-
        Returns the on-ramp and off-ramp capabilities available for a customer,
        including the supported rails and their activation status for each
        currency and corridor.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          example: ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06
      responses:
        '200':
          description: Customer capabilities retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      on_ramp:
                        type: array
                        items:
                          type: object
                          properties:
                            currency:
                              type: string
                              example: USD
                            rail:
                              type: string
                              example: ACH
                            status:
                              type: boolean
                              example: true
                      off_ramp:
                        type: array
                        items:
                          type: object
                          properties:
                            corridor:
                              type: string
                              example: BGD
                            currency_wise_rail:
                              type: array
                              items:
                                type: object
                                properties:
                                  currency:
                                    type: string
                                    example: BDT
                                  rails:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        rail:
                                          type: string
                                          example: LOCAL
                                        status:
                                          type: boolean
                                          example: true
              examples:
                OK:
                  summary: OK
                  value:
                    data:
                      on_ramp:
                        - currency: USD
                          rail: ACH
                          status: false
                        - currency: USD
                          rail: FEDWIRE
                          status: true
                        - currency: USD
                          rail: SWIFT
                          status: true
                      off_ramp:
                        - corridor: BGD
                          currency_wise_rail:
                            - currency: BDT
                              rails:
                                - rail: LOCAL
                                  status: true
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                        - corridor: AUS
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                        - corridor: GBR
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                            - currency: GBP
                              rails:
                                - rail: LOCAL
                                  status: true
                        - corridor: CAN
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                        - corridor: DEU
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                            - currency: EUR
                              rails:
                                - rail: LOCAL
                                  status: true
                        - corridor: POL
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                        - corridor: IND
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                            - currency: INR
                              rails:
                                - rail: LOCAL
                                  status: true
                        - corridor: PAK
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                        - corridor: NPL
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                        - corridor: PHL
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                        - corridor: SGP
                          currency_wise_rail:
                            - currency: USD
                              rails:
                                - rail: SWIFT
                                  status: true
                            - currency: SGD
                              rails:
                                - rail: LOCAL
                                  status: true
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v2/customers/individual:
    post:
      summary: Create Individual Customer V2
      description: >-
        Create a new individual customer with verification details, basic info,
        address, and financial profile.
      tags:
        - Customers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIndividualCustomerV2Input'
            example:
              verification_type: STANDARD
              basic_info:
                first_name: Maria
                middle_name: Elena
                last_name: Garcia
                dob: '1990-04-15'
                email: maria.garcia@example.com
                phone: '+14155552671'
                country_of_residence: USA
                primary_nationality: USA
                secondary_nationality: MEX
                gender: FEMALE
                tax_info:
                  - country_code: USA
                    document_type: SSN
                    document_id: 123-45-6789
              address:
                street_line_1: 123 Market Street
                street_line_2: Apt 4B
                city: San Francisco
                subdivision_code: US-CA
                postal_code: '94103'
                country: USA
              financial_profile:
                employment_status: EMPLOYED
                occupation_id: 42
                purpose_id: 3
                purpose_remarks: Personal remittances to family
                source_of_funds_description: Monthly salary from employment
                source_of_fund_ids:
                  - 1
                  - 5
                monthly_volume_usd: 5000
              meta_data:
                reference: client-ref-abc-001
      responses:
        '200':
          description: Individual customer created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customer_id:
                        type: string
                        format: uuid
                        example: 0ca13984-63f3-45d7-99a7-52b9133f0259
                      tos_policies_url:
                        type: string
                        format: uri
                        description: >-
                          URL for the customer to accept Terms of Service. Parse
                          the tos_policies_value query parameter for later use.
                        example: >-
                          https://orchestration.fin.com/orchestration-customer-tos?customer_id=0ca13984-63f3-45d7-99a7-52b9133f0259&tos_policies_value=7e8873f7-519b-43d7-9565-c81befc52dd6
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          description: Locked. RELIANCE verification is not available for your client.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: RELIANCE is not available for your client
  /v1/customers/individual:
    post:
      summary: Create Individual Customer
      description: Create a new individual customer with verification details
      x-mint:
        content: >
          <Note>
            Only English (Latin) characters are allowed as inputs for all fields.
          </Note>


          ## Important Requirements


          - **Email Address**: Must be all lowercase or you will receive a
          validation error

          - **RELIANCE Verification**: If you attempt to use `RELIANCE`
          verification type but it's not enabled for your client, you will
          receive a 423 error with message: "RELIANCE is not available for your
          client"
      tags:
        - Customers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIndividualCustomerInput'
      responses:
        '200':
          description: Individual customer created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customer_id:
                        type: string
                        format: uuid
                        example: 55bd6b4e-c20a-4cc8-9535-91d5557a67d9
                      tos_policies_url:
                        type: string
                        format: uri
                        example: >-
                          https://orchestration.fin.com/orchestration-customer-tos?customer_id=55bd6b4e-c20a-4cc8-9535-91d5557a67d9&tos_policies_value=e9414388-fbdf-4407-b5c2-bc39eae3645b
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          description: Locked. RELIANCE verification is not available for your client.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: RELIANCE is not available for your client
  /v2/customers/business:
    post:
      summary: Create Business Customer V2
      description: >-
        Create a new business customer with full KYB profile, associated parties
        (UBOs/directors), compliance data, and optionally holding structure and
        public listing details.
      x-mint:
        content: >
          ## Important Requirements


          - **Email Address**: Must be all lowercase or you will receive a
          validation error

          - **RELIANCE Verification**: If you attempt to use `RELIANCE`
          verification type but it's not enabled for your client, you will
          receive a 423 error with message: "RELIANCE is not available for your
          client"

          - **Non-ASCII characters**: If any input field contains non-ASCII
          characters, you must provide a transliterated (Latin) value in the
          corresponding `_en` field (e.g., `legal_name_en`, `street_line_1_en`,
          `first_name_en`)

          - **Third-party Fund Usage**: The `third_party_fund_usage` field
          indicates whether this customer will be moving other people's money

          - **Ownership Percentages**: The total ownership percentages of all
          associated parties must add up to more than 0 and less than 100

          - **Reference Data**: `purpose_id`, `source_of_fund_ids` and
          `source_of_wealth_ids` are integer foreign keys. Fetch valid values
          from [List Account
          Purposes](https://developer.fin.com/api-reference/catalogue/list-account-purposes)
          , [List Source of
          Funds](https://developer.fin.com/api-reference/catalogue/list-source-of-funds)
          and [List Source of
          Wealth](https://developer.fin.com/api-reference/catalogue/list-source-of-wealth)

          - **subdivision_code**: Pass the ISO 3166-2 code. For example for CA,
          pass US-CA.
      tags:
        - Customers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessCustomerV2Input'
            example:
              verification_type: STANDARD
              industry_codes:
                - '541512'
                - '522390'
              basic_info:
                legal_name: Fin.com
                legal_name_en: Fin.com
                trade_name: Toronggo
                trade_name_en: Toronggo
                description: >-
                  Bangladesh-based technology company providing cross-border B2B
                  payment and financial technology services to enterprise
                  clients
                entity_type: LIMITED_LIABILITY_COMPANY
                email: m@tech.com
                phone: '+8801529876543'
                incorporation_date: '2018-06-15'
                country_of_incorporation: BGD
                registration_number: C-123456/2018
                is_dao: false
                tax_info:
                  - country_code: BGD
                    document_type: TIN
                    document_id: '123456789012'
                websites:
                  - https://fin.com
              financial_profile:
                purpose_id: 3
                purpose_remarks: Cross-border B2B payments for international suppliers
                source_of_fund_ids:
                  - 1
                  - 4
                source_of_funds_description: Revenue from software licensing and technology services
                source_of_wealth_ids:
                  - 2
                estimated_annual_revenue_usd: 5000000
                expected_monthly_deposits_usd: 400000
                expected_monthly_withdrawals_usd: 350000
                expected_transaction_value_usd: 50000
                expected_monthly_transaction_count: 20
                third_party_fund_usage: false
              addresses:
                is_incorporated_address_same: false
                incorporated_address:
                  street_line_1: House 12, Road 4, Dhanmondi
                  city: Dhaka
                  state: BD-13
                  subdivision_code: BD-13
                  postal_code: '1205'
                  country: BGD
                physical_address:
                  street_line_1: Level 5, 45 Gulshan Avenue
                  city: Dhaka
                  state: BD-13
                  subdivision_code: BD-13
                  postal_code: '1212'
                  country: BGD
              associated_parties:
                - ref: owner-001
                  basic_info:
                    first_name: Fatima
                    last_name: Rahman
                    dob: '1990-05-15'
                    email: fatima.rahman22@acmecorp.com.bd
                    phone: '+8801711223344'
                    country_of_residence: BGD
                    primary_nationality: BGD
                    tax_info:
                      - country_code: BGD
                        document_type: TIN
                        document_id: '1234567890123'
                  address:
                    street_line_1: House 12, Road 4, Dhanmondi
                    city: Dhaka
                    state: BD-13
                    subdivision_code: BD-13
                    postal_code: '1205'
                    country: BGD
                  roles:
                    - shareholder
                  ownership_info:
                    designation: CEO & Founder
                    percentage_of_ownership: 60
                    relationship_establishment_date: '2018-06-15'
                    has_control: true
                    is_signer: true
                    is_director: true
                - ref: owner-002
                  basic_info:
                    first_name: Karim
                    last_name: Islam
                    dob: '1992-08-22'
                    email: karim.islam22@acmecorp.com.bd
                    phone: '+8801822334455'
                    country_of_residence: BGD
                    primary_nationality: BGD
                    tax_info:
                      - country_code: BGD
                        document_type: TIN
                        document_id: '9876543210123'
                  address:
                    street_line_1: Flat 3B, 78 Mirpur Road
                    city: Dhaka
                    state: BD-13
                    subdivision_code: BD-13
                    postal_code: '1216'
                    country: BGD
                  roles:
                    - ubo
                  ownership_info:
                    designation: CTO & Co-Founder
                    percentage_of_ownership: 40
                    relationship_establishment_date: '2018-06-15'
                    has_control: false
                    is_signer: false
                    is_director: false
              holding_structure:
                has_material_intermediary_ownership: true
                corporate_shareholders:
                  - entity_name: Toronggo Ventures Limited
                    entity_name_en: Toronggo Ventures Limited
                    registration_country_code: BGD
                    ownership_percentage: 0
                    registration_number: C-987654/2015
                    entity_type: LIMITED_LIABILITY_COMPANY
                    incorporation_date: '2015-03-01'
              compliance:
                operates_in_prohibited_countries: false
                additional_description_for_compliance_screening: We do not operate in any OFAC-sanctioned jurisdictions.
                risk_profile:
                  high_risk_activities:
                    - adult_entertainment
                  high_risk_activities_explanation: >-
                    We facilitate cross-border B2B payments, subject to enhanced
                    due diligence.
                  conducts_money_services: true
                  conducts_money_services_via_fin: false
                  conducts_money_services_description: >-
                    Licensed payment service provider offering international
                    transfer services.
                regulated_activity:
                  description: >-
                    Licensed payment service provider under Bangladesh Bank
                    regulation
                  primary_authority_country_code: BGD
                  primary_authority_name: Bangladesh Bank
                  license_number: PSP-2019-00123
                aml:
                  supervisory_authority_name: Bangladesh Financial Intelligence Unit
                  license_number: PSP-2019-00123
                  has_appointed_mlro: true
                  customer_risk_split:
                    low_risk: 70
                    medium_risk: 25
                    high_risk: 5
                  prohibits_anonymous_or_fictitious_accounts: true
                  prohibits_accounts_for_unlicensed_or_shell_customers: true
                  customer_identity_verification:
                    method: automated
                    system: Jumio
                  pep_and_sanctions_screening:
                    method: automated
                    system: Dow Jones Risk & Compliance
                  sanction_lists:
                    - OFAC
                    - EU
                    - UN
                    - HMT
                  customer_risk_classification_from_due_diligence: true
                  enhanced_due_diligence_process: true
                  transaction_monitoring:
                    method: automated
                    system: Actimize
                  procedures_for_transaction_monitoring: true
                  subject_to_ml_or_tf_investigation: none
                  subject_to_regulatory_enforcement_past_2_years: none
                  confirms_no_service_to_sanctioned_countries: true
                  client_funds_accessibility: closed_loop
                  aml_ctf_audit_completed: true
                  planned_audit_date: '2026-12-01'
              meta_data:
                reference: REF-20250123-TORONGGO
      responses:
        '201':
          description: Business customer created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_id:
                    type: string
                    format: uuid
                    description: Unique identifier for the created customer
                    example: ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06
                  tos_policies_url:
                    type: string
                    format: uri
                    description: >-
                      URL for customer to accept Terms of Service. Parse the
                      tos_policies_value query parameter and pass it when
                      attaching business documents.
                    example: >-
                      https://orchestration.fin.com/orchestration-customer-tos?customer_id=ed54db74-7dbe-47d2-8ea0-c2bf2a9dda06&tos_policies_value=6955e70b-f9f3-4076-b1ce-5c897085dd24
        '400':
          description: Validation failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Validation failed
                  data:
                    type: object
                    additionalProperties:
                      type: string
                    example:
                      basic_info.email: Must be a valid email address
                      associated_parties[0].basic_info.dob: Party must be at least 18 years old
                      addresses.physical_address: Required when is_incorporated_address_same is false
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '423':
          description: Locked. RELIANCE verification is not available for your client.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 423
                  message:
                    type: string
                    example: RELIANCE is not available for your client
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
  /v1/customers/business:
    post:
      summary: Create Business Customer
      description: >-
        Create a new business customer with verification details, addresses, and
        associated parties
      x-mint:
        content: >
          <Warning>
            This endpoint was deprecated on May 20, 2026. Use [Create Business Customer V2](https://developer.fin.com/api-reference/customers/create-business-customer-v2) instead.
          </Warning>


          ## Important Requirements


          - **Email Address**: Must be all lowercase or you will receive a
          validation error

          - **RELIANCE Verification**: If you attempt to use `RELIANCE`
          verification type but it's not enabled for your client, you will
          receive a 423 error with message: "RELIANCE is not available for your
          client"

          - **Third-party Fund Usage**: The `third_party_fund_usage` field
          indicates whether this customer will be moving other people's money

          - **Ownership Percentages**: The total ownership percentages of all
          associated parties must add up to more than 0 and less than 100
      tags:
        - Customers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBusinessCustomerInput'
      responses:
        '200':
          description: Business customer created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customer_id:
                        type: string
                        format: uuid
                        description: Unique identifier for the created customer
                        example: 2d0a9df3-e1e5-4955-9759-ce0522e0ddc9
                      tos_policies_url:
                        type: string
                        format: uri
                        description: URL for customer to accept Terms of Service policies
                        example: >-
                          https://orchestration.fin.com/orchestration-customer-tos?customer_id=2d0a9df3-e1e5-4955-9759-ce0522e0ddc9&tos_policies_value=f11e77c6-8dc0-4d4b-a3f2-ed84c8ccfc69
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '422':
          $ref: '#/components/responses/ValidationError'
        '423':
          description: Locked. RELIANCE verification is not available for your client.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: RELIANCE is not available for your client
  /v1/customers/upload:
    post:
      summary: Upload Document
      description: >-
        Upload customer documents using multipart/form-data. Files can be
        uploaded with arbitrary field names (e.g., poa, poi, passport, file1,
        etc.)
      x-mint:
        content: |
          ## Allowed File Types

          - `PDF`
          - `JPG` / `JPEG`
          - `PNG`

          <Note>
            Files should be uploaded as separate form fields with arbitrary names.
            You can use any field name for files (e.g., `passport`, `poa`, `poi`, `file1`, `document1`, etc.).
            The field name you use will be returned as the key in the response.
          </Note>
      tags:
        - Customers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                customer_id:
                  type: string
                  format: uuid
                  example: 55bd6b4e-c20a-4cc8-9535-91d5557a67d9
                passport:
                  type: string
                  format: binary
                poa:
                  type: string
                  format: binary
                poi:
                  type: string
                  format: binary
      responses:
        '200':
          description: Documents uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      files:
                        type: array
                        items:
                          type: object
                          additionalProperties:
                            type: string
                        example:
                          - passport: /CwW9PHhP_Germany-passport.jpg
                          - poa: /KVdLfqjR_germany-poa-green.jpg
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v2/customers/{customer_id}/individual/attach:
    post:
      summary: Attach Documents to Individual Customer V2
      description: >-
        Attach identifying and address documents to an existing v2 individual
        customer. Replaces the v1 proof_of_identity / proof_of_address structure
        with separate identifying_documents and address_documents arrays.
        Documents are processed asynchronously.
      tags:
        - Customers
      security:
        - bearerAuth: []
      parameters:
        - name: customer_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier for the individual customer
          example: 55bd6b4e-c20a-4cc8-9535-91d5557a67d9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachDocumentsToIndividualCustomerV2Input'
            example:
              identifying_documents:
                - type: SELFIE
                  files:
                    - uri: /AbAcQ4hn_0652746727637.pdf
                - type: DRIVERS_LICENSE
                  number: DL987654321
                  country: USA
                  state: US-CA
                  issue_date: '2019-06-01'
                  expiry_date: '2029-06-01'
                  files:
                    - side: FRONT
                      uri: /AbAcQ4hn_0652746727638.pdf
                    - side: BACK
                      uri: /XyZ123mn_0652746727639.pdf
              address_documents:
                - type: BANK_STATEMENT
                  country: USA
                  files:
                    - uri: /PoAdef45_0652746727640.pdf
              tos_policies_value: e9414388-fbdf-4407-b5c2-bc39eae3645b
      responses:
        '200':
          description: Request validated and queued for asynchronous processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customer_id:
                        type: string
                        format: uuid
                        example: 55bd6b4e-c20a-4cc8-9535-91d5557a67d9
                  meta:
                    type: object
                    nullable: true
                    example: null
        '400':
          description: Malformed JSON or unparseable payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Malformed request body
        '401':
          $ref: '#/components/responses/AuthenticationError'
        '403':
          description: >-
            Customer not owned by the client, wrong api_version, or not in an
            allowed status, or a file URI does not belong to the customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: forbidden
                      message:
                        type: string
                        example: Customer is not eligible for this operation
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          description: Another attach for this customer is already in flight
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: conflict
                      message:
                        type: string
                        example: >-
                          An attach request is already in progress for this
                          customer
        '422':
          $ref: '#/components/responses/ValidationError'
        '500':
[...]
